.todo{
    /* border:2px solid black; */
    display: flex;
    align-items: center;
    width:90%;
    height:50px;
    position: relative;
    box-sizing: border-box;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 7px 10px;
    float:left;
    background-image: linear-gradient(to right,rgb(192, 141, 13),gold);
}
.text{
    position: relative;
    /* border: 2px solid red; */
    height:100%;
    width:85%;
    float:left;
    font-size: 28px;
    color:white;
}
.buttons{
    position: relative;
    width:15%;
    /* border: 2px solid green; */
    
}
.icon-button{
    background-color: transparent;
    border: none;
    font-size: large;
    float: right;
}

.edit-text{
    background-color: transparent;
    border: none;
}
.edit-text:focus{
    outline: none;
    /* background-color: antiquewhite; */
}
@media screen and (max-width:880px) {
    .text{
        width:70%;
    }
    .buttons{
        width:30%;
    }
}

@media screen and (max-width:480px) {
    .text{
        width:60%;
    }
    .buttons{
        width:40%;
    }
}

@media screen and (max-width:380px) {
    .text{
        width:50%;
    }
    .buttons{
        width:50%;
    }
}

